body {
    background-image: url(../../media/website/admin_panel_bg.webp);
    background-position: center center;
    background-size: cover;
}

.header {
    min-height: 10vh;
}

.navbar-mobile {
    background-color: #ffc107 !important;
}

.section {
    min-height: 70vh;
}

.table-wrapper {
    overflow-x: scroll;
    margin-bottom: 15px;
}

.footer {
    min-height: 20vh;
    padding: 30px 15px;
    background-color: #212529 !important;
    color: #fbfbfb !important;
}
