.empty-video__box {
    color: #ffffff;
    background-color: #0000007e;
    min-height: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3em;
    margin: 5px 0;
}

#modal__title {
    font-size: 1.5em;
    font-family: Roboto-Bold;
}


@media (max-width: 575.9px) {
    body {
        background-color: #212529;
    }

    .header {
        border-bottom: 2px solid #ffffff;
        margin-top: 2px;
    }
}