body {
    /* background-color: var(--main-color); */
}

.video__box {
    
}

.empty-video__box {
    color: #ffffff;
    background-color: #0000007e;
    min-height: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3em;
}

#modal__title {
    font-size: 1.5em;
    font-family: Roboto-Bold;
}